
<%= render 'home/jumbo' unless user_signed_in? %>
<div class="row g-2 mt-1">
<% @pins.each do |pin| %>
<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
<div class="card h-100">
  <%if pin.pinfoto.attached? %>
  <%= link_to image_tag(pin.pinfoto, class:"card-img-top"), pin%>
  <%end%>
  <div class="card-body">
    <h6 class="card-title"><%= pin.user.username %></h6>
    <p class="card-text"><%= pin.description %></p>
    <p><em><small><%= pin.user.created_at.strftime("%B %d, %Y at %H:%M")%></small></em></p>
  </div>
</div>
</div>
<% end %>

</div>


<br/>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
