
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <%=link_to 'Pinterested', root_path, class:'navbar-brand fst-italic text-danger fs-4 fw-bold '%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to 'Home', root_path, class:'nav-link fw-bold'%>
        </li>
        <li class="nav-item">
          <%=link_to 'About', home_about_path, class:'nav-link fw-bold'%>
        </li>
   <% if user_signed_in?%>
        <li class="nav-item">
          <%=link_to 'List Pins', pins_path, class:'nav-link fw-bold'%>
        </li>
        <li class="nav-item">
          <%=link_to 'Add Pin', new_pin_path, class:'nav-link fw-bold text-danger'%>
        </li>
        <li class="nav-item">
          <%=link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-primary btn-sm m-1'%>
        </li>
        <li class="nav-item">
          <%=link_to 'Logout', destroy_user_session_path, method: :delete, class:'btn btn-secondary btn-sm m-1'%>
        </li>
  <% else %>
        <li class="nav-item">
          <%=link_to 'Login', new_user_session_path, class:'btn btn-primary btn-sm m-1'%>
        </li>
        <li class="nav-item">
          <%=link_to 'Join', new_user_registration_path, class:'btn btn-danger btn-sm m-1'%>
        </li>
  <% end %>
      </ul>
    </div>
  </div>
</nav>


