<br/>
 <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Wellcome To My Pinterested App!</h1>
        <p class="col-md-8 fs-4">This is an education APP which is using bootstrap 5 and rails 6</p>
        <% if user_signed_in?%>
        <%=link_to 'Add Pin', new_pin_path, class:'btn btn-primary btn-sm m-1'%>
        <%=link_to 'List Pins', pins_path, class:'btn btn-primary btn-sm m-1'%>
        <%=link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-primary btn-sm m-1'%>
        <%=link_to 'Logout', destroy_user_session_path, method: :delete, class:'btn btn-secondary btn-sm m-1'%>
        <% else %>
        <%=link_to 'Login', new_user_session_path, class:'btn btn-primary btn-sm m-1'%>
        <%=link_to 'Join', new_user_registration_path, class:'btn btn-danger btn-sm m-1'%>
        <% end %>
      </div>
 </div>



